
<div class="leftbar-tab-menu">
    <div class="main-icon-menu">
        <a href="{% url 'dashboard' %}" class="logo logo-metrica d-block text-center">
            <span>
                <img src="{% static 'images/agrotech solo blanco.png' %}" alt="logo-small" class="logo-sm">
            </span>
        </a>
        <div class="main-icon-menu-body">
            <div class="position-reletive h-100" data-simplebar style="overflow-x: hidden;">
                <ul class="nav nav-tabs" role="tablist" id="tab-menu">
                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard" data-bs-trigger="hover">
                        <a href="#MetricaDashboard" id="dashboard-tab" class="nav-link">
                            <i class="ti ti-smart-home menu-icon"></i>
                        </a><!--end nav-link-->
                    </li><!--end nav-item-->
                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Apps" data-bs-trigger="hover">
                        <a href="#MetricaApps" id="apps-tab" class="nav-link">
                            <i class="ti ti-apps menu-icon"></i>
                        </a><!--end nav-link-->
                    </li><!--end nav-item-->

                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Uikit" data-bs-trigger="hover">
                        <a href="#MetricaUikit" id="uikit-tab" class="nav-link">
                            <i class="ti ti-planet menu-icon"></i>
                        </a><!--end nav-link-->
                    </li><!--end nav-item-->

                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Pages" data-bs-trigger="hover">
                        <a href="#MetricaPages" id="pages-tab" class="nav-link">
                            <i class="ti ti-files menu-icon"></i>
                        </a><!--end nav-link-->
                    </li><!--end nav-item-->

                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="right" title="Authentication" data-bs-trigger="hover">
                        <a href="#MetricaAuthentication" id="authentication-tab" class="nav-link">
                            <i class="ti ti-shield-lock menu-icon"></i>
                        </a><!--end nav-link-->
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!--end /div-->
        </div><!--end main-icon-menu-body-->
        <div class="pro-metrica-end">
            <a href="" class="profile">
                <img src="{{ user.image.url }}" alt="profile-user" class="rounded-circle thumb-sm">
            </a>
        </div><!--end pro-metrica-end-->
    </div>
    <!--end main-icon-menu-->

    <div class="main-menu-inner">
        <!-- LOGO -->
        <div class="topbar-left">
            <a href="{% url 'dashboard' %}" class="logo">
                <span>
                    <img src="{% static 'images/agrotech solo negro.png' %}" alt="logo-large" class="logo-lg logo-dark">
                    <img src="{% static 'images/agrotech solo negro.png' %}" alt="logo-large" class="logo-lg logo-light">
                </span>
            </a><!--end logo-->
        </div><!--end topbar-left-->
        <!--end logo-->
        <div class="menu-body navbar-vertical tab-content" data-simplebar>
            <div id="MetricaDashboard" class="main-icon-menu-pane tab-pane" role="tabpanel"
                aria-labelledby="dasboard-tab">
                <div class="title-box">
                    <h6 class="menu-title">Dashboard</h6>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Analytics</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Crypto</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">CRM</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Project</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ecommerce</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Helpdesk</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hospital</a>
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!-- end Dashboards -->

            <div id="MetricaApps" class="main-icon-menu-pane tab-pane" role="tabpanel"
                aria-labelledby="apps-tab">
                <div class="title-box">
                    <h6 class="menu-title">Apps</h6>
                </div>

                <div class="collapse navbar-collapse" id="sidebarCollapse">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarAnalytics" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarAnalytics">
                                Analytics
                            </a>
                            <div class="collapse " id="sidebarAnalytics">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="{% url 'apps:analytics-customer' %}" class="nav-link ">Customers</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a href="{% url 'apps:analytics-reports' %}" class="nav-link ">Reports</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarAnalytics-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarCrypto" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarCrypto">
                                Crypto
                            </a>
                            <div class="collapse " id="sidebarCrypto">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crypto-exchange' %}">Exchange</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crypto-wallet' %}">Wallet</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crypto-news' %}">Crypto News</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crypto-list' %}">ICO List</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crypto-settings' %}">Settings</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarCrypto-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarCRM" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarCRM">
                                CRM
                            </a>
                            <div class="collapse " id="sidebarCRM">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crm-contact' %}">Contacts</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crm-opportunities' %}">Opportunities</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crm-leads' %}">Leads</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:crm-customers' %}">Customers</a>
                                    </li><!--end nav-item--> 
                                </ul><!--end nav-->
                            </div><!--end sidebarCRM-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarProjects" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarProjects">
                                Projects
                            </a>
                            <div class="collapse " id="sidebarProjects">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-client' %}">Clients</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-team' %}">Team</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-project' %}">Project</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-task' %}">Task</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-kanbanboard' %}">Kanban Board</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-chat' %}">Chat</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-users' %}">Users</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:projects-create' %}">Project Create</a>
                                    </li><!--end nav-item--> 
                                </ul><!--end nav-->
                            </div><!--end sidebarProjects-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarEcommerce" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarEcommerce">
                                Ecommerce
                            </a>
                            <div class="collapse " id="sidebarEcommerce">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:ecommerce-product' %}">Products</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:ecommerce-list' %}">Product List</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:ecommerce-details' %}">Product Detail</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:ecommerce-cart' %}">Cart</a>
                                    </li><!-- end nav-item -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:ecommerce-checkout' %}">Checkout</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarEcommerce-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarHelpdesk" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarHelpdesk">
                                Helpdesk
                            </a>
                            <div class="collapse " id="sidebarHelpdesk">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:helpdesk-tickets' %}">Tickets</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:helpdesk-reports' %}">Reports</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:helpdesk-agents' %}">Agents</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarHelpdesk-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarHospital" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarHospital">
                                Hospital
                            </a>
                            <div class="collapse " id="sidebarHospital">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a href="#sidebarAppointments " class="nav-link" data-bs-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="sidebarAppointments">
                                            Appointments 
                                        </a>
                                        <div class="collapse " id="sidebarAppointments">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-dr-schedule' %}">Dr. Shedule</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-all-appointment' %}">All Appointments</a>
                                                </li><!--end nav-item-->
                                            </ul><!--end nav-->
                                        </div><!--end sidebarAppointments-->
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a href="#sidebarDoctors" class="nav-link" data-bs-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="sidebarDoctors">
                                            Doctors
                                        </a>
                                        <div class="collapse" id="sidebarDoctors">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-all-doctors' %}">All Doctors</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-add-doctors' %}">Add Doctor</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-doctor-edit' %}">Doctor Edit</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-doctor-profile' %}">Doctor Profile</a>
                                                </li><!--end nav-item-->
                                            </ul><!--end nav-->
                                        </div><!--end sidebarDoctors-->
                                    </li><!--end nav-item-->

                                    <li class="nav-item">
                                        <a href="#sidebarPatients" class="nav-link" data-bs-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="sidebarPatients">
                                            Patients
                                        </a>
                                        <div class="collapse" id="sidebarPatients">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-all-patients' %}">All Patients</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-add-patients' %}">Add Patient</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-patients-edit' %}">Patient Edit</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-patient-profile' %}">Patient Profile</a>
                                                </li><!--end nav-item-->
                                            </ul><!--end nav-->
                                        </div><!--end sidebarPatients-->
                                    </li><!--end nav-item-->

                                    <li class="nav-item">
                                        <a href="#sidebarPayments" class="nav-link" data-bs-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="sidebarPayments">
                                            Payments
                                        </a>
                                        <div class="collapse" id="sidebarPayments">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-all-paymnets' %}">All Payments</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-payment-invoice' %}">Payment Invoice</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-cashless-payment' %}">Cashless Payments</a>
                                                </li><!--end nav-item-->
                                            </ul><!--end nav-->
                                        </div><!--end sidebarPayments-->
                                    </li><!--end nav-item-->

                                    <li class="nav-item">
                                        <a href="#sidebarStaff" class="nav-link" data-bs-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="sidebarStaff">
                                            Staff
                                        </a>
                                        <div class="collapse" id="sidebarStaff">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-staff-all' %}">All Staff</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-staff-member' %}">Add Member</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-staff-edit-member' %}">Edit Member</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-staff-profile' %}">Member Profile</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-staff-salary' %}">Staff Salary</a>
                                                </li><!--end nav-item-->
                                            </ul><!--end nav-->
                                        </div><!--end sidebarStaff-->
                                    </li><!--end nav-item-->

                                    <li class="nav-item">
                                        <a href="#sidebarGeneral" class="nav-link" data-bs-toggle="collapse"
                                            role="button" aria-expanded="false" aria-controls="sidebarGeneral">
                                            General
                                        </a>
                                        <div class="collapse" id="sidebarGeneral">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-all-room' %}">Room Allotments</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-expenses' %}">Expenses Report</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-department' %}">Departments</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-insurance-company' %}">Insurance Co.</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-events' %}">Events</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-leaves' %}">Leaves</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-holidays' %}">Holidays</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-attendance' %}">Attendance</a>
                                                </li><!--end nav-item-->
                                                <li class="nav-item">
                                                    <a class="nav-link" href="{% url 'apps:hospital-chat' %}">Chat</a>
                                                </li><!--end nav-item-->
                                            </ul><!--end nav-->
                                        </div><!--end sidebarGeneral-->
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarHospital-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarEmail" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarEmail">
                                Email
                            </a>
                            <div class="collapse " id="sidebarEmail">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:hospital-email-inbox' %}">Inbox</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'apps:hospital-email-read' %}">Read Email</a>
                                    </li><!--end nav-item--> 
                                </ul><!--end nav-->
                            </div><!--end sidebarEmail-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'apps:chat' %}">Chat</a>
                        </li><!--end nav-item-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'apps:contact-list' %}">Contact List</a>
                        </li><!--end nav-item-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url  'apps:calendar' %}">Calendar</a>
                        </li><!--end nav-item-->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'apps:invoice' %}">Invoice</a>
                        </li><!--end nav-item-->
                    </ul><!--end navbar-nav--->
                </div><!--end sidebarCollapse-->
            </div><!-- end Crypto -->

            <div id="MetricaUikit" class="main-icon-menu-pane  tab-pane" role="tabpanel"
                aria-labelledby="uikit-tab">
                <div class="title-box">
                    <h6 class="menu-title">UI Kit</h6>
                </div>
                <div class="collapse navbar-collapse" id="sidebarCollapse_2">
                    <!-- Navigation -->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarElements" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarElements">
                            UI Elements
                            </a>
                            <div class="collapse " id="sidebarElements">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:alerts' %}">Alerts</a>
                                    </li><!--end nav-item--> 
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:avatar' %}  ">Avatar</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:buttons' %}">Buttons</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:badges' %}">Badges</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:cards' %}">Cards</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:carousels' %}">Carousels</a>
                                    </li><!--end nav-item-->                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:dropdowns' %}">Dropdowns</a>
                                    </li><!--end nav-item-->                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:grids' %}">Grids</a>
                                    </li><!--end nav-item-->                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:images' %}">Images</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:list' %}">List</a>
                                    </li><!--end nav-item-->                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:modals' %}">Modals</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:navs' %}">Navs</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:navbar' %}">Navbar</a>
                                    </li><!--end nav-item--> 
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:paginations' %}">Paginations</a>
                                    </li><!--end nav-item-->   
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:popover' %}">Popover & Tooltips</a>
                                    </li><!--end nav-item-->                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:progress' %}">Progress</a>
                                    </li><!--end nav-item-->                                
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:spinners' %}">Spinners</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:tabs' %}">Tabs & Accordions</a>
                                    </li><!--end nav-item-->                               
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:typography' %}">Typography</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:videos' %}">Videos</a>
                                    </li><!--end nav-item--> 
                                </ul><!--end nav-->
                            </div><!--end sidebarElements-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarAdvancedUI" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarAdvancedUI">
                                Advanced UI
                            </a>
                            <div class="collapse " id="sidebarAdvancedUI">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:animation' %}">Animation</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:clipboard' %}">Clip Board</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:dragula' %}">Dragula</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:files' %}">File Manager</a>
                                    </li><!--end nav-item--> 
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:highlight' %}">Highlight</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:rangeslider' %}">Range Slider</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:ratings' %}">Ratings</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:ribbons' %}">Ribbons</a>
                                    </li><!--end nav-item-->                 
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:sweetalerts' %}">Sweet Alerts</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:toasts' %}">Toasts</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarAdvancedUI-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarForms" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarForms">
                                Forms
                            </a>
                            <div class="collapse " id="sidebarForms">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsElements' %}">Basic Elements</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsAdvanced' %}">Advance Elements</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsValidation' %}">Validation</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsWizard' %}">Wizard</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsEditors' %}">Editors</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsUploads' %}">File Upload</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:formsImgCrop' %}">Image Crop</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarForms-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarCharts" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarCharts">
                            Charts
                            </a>
                            <div class="collapse " id="sidebarCharts">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:chartsApex' %}">Apex</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:chartsJustgage' %}">JustGage</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:chartsChartjs' %}">Chartjs</a>
                                    </li><!--end nav-item--> 
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:chartsToastUi' %}">Toast</a>
                                    </li><!--end nav-item--> 
                                </ul><!--end nav-->
                            </div><!--end sidebarCharts-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarTables" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarTables">
                                Tables
                            </a>
                            <div class="collapse " id="sidebarTables">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:tablesBasic' %}">Basic</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:tablesDatatable' %}">Datatables</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:tablesEdittable' %}">Editable</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarTables-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarIcons" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarIcons">
                            Icons
                            </a>
                            <div class="collapse " id="sidebarIcons">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:iconsMaterialdesign' %}">Material Design</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:iconsFontawesome' %}">Font awesome</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:iconsTabler' %}">Tabler</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:iconsFeather' %}">Feather</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarIcons-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarMaps" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarMaps">
                                Maps
                            </a>
                            <div class="collapse " id="sidebarMaps">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:mapsGoogle' %}">Google Maps</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:mapsLeaflet' %}">Leaflet Maps</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:mapsVector' %}">Vector Maps</a>
                                    </li><!--end nav-item--> 
                                </ul><!--end nav-->
                            </div><!--end sidebarMaps-->
                        </li><!--end nav-item-->

                        <li class="nav-item">
                            <a class="nav-link" href="#sidebarEmailTemplates" data-bs-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="sidebarEmailTemplates">
                                Email Templates
                            </a>
                            <div class="collapse " id="sidebarEmailTemplates">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:emailBasic' %}">Basic Action Email</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:emailAlert' %}">Alert Email</a>
                                    </li><!--end nav-item-->
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'uikit:emailBiiling' %}">Billing Email</a>
                                    </li><!--end nav-item-->
                                </ul><!--end nav-->
                            </div><!--end sidebarEmailTemplates-->
                        </li><!--end nav-item-->
                    </ul><!--end navbar-nav--->
                </div><!--end sidebarCollapse_2-->
            </div><!-- end Others -->

            <div id="MetricaPages" class="main-icon-menu-pane tab-pane" role="tabpanel" aria-labelledby="pages-tab">
                <div class="title-box">
                    <h6 class="menu-title">Pages</h6>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:profile' %}">Profile</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:tour' %}">Tour</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:timeline' %}">Timeline</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:treeview' %}">Treeview</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:starter' %}">Starter Page</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:pricing' %}">Pricing</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:blogs' %}">Blogs</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:faqs' %}">FAQs</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pages:gallery' %}">Gallery</a>
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!-- end Pages -->

            <div id="MetricaAuthentication" class="main-icon-menu-pane tab-pane" role="tabpanel"
                aria-labelledby="authentication-tab">
                <div class="title-box">
                    <h6 class="menu-title">Authentication</h6>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:login' %}">Log in</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:loginAlt' %}">Log in alt</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:register' %}">Register</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:registerAlt' %}">Register-alt</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:recoverPW' %}">Re-Password</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:recoverPWAlt' %}">Re-Password-alt</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:lockscreen' %}">Lock Screen</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:lockscreenAlt' %}">Lock Screen-alt</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:auth404' %}">Error 404</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:auth404Alt' %}">Error 404-alt</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:auth500' %}">Error 500</a>
                    </li><!--end nav-item-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'authentication:auth500Alt' %}">Error 500-alt</a>
                    </li><!--end nav-item-->
                </ul><!--end nav-->
            </div><!-- end Authentication-->
        </div>
        <!--end menu-body-->
    </div><!-- end main-menu-inner-->
</div>