<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventario/">
          <i class="fas fa-warehouse"></i>
          Inventario
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/crop/crops/">
          <i class="fas fa-seedling"></i>
          Cultivos
        </a>
      </li>
      <!-- Otros módulos -->
    </ul>
  </div>
</nav>
